<% if !user_signed_in?%>
<div class="jumbotron">
<h1>Movie Boookig Site</h1>
<p>movies book here</p>
<p><%= link_to "Sign Up To A Book Movie",new_user_registration_path, class: "btn btn-primary btn-lg"%></p>
</div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image, class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>