<div id="<%= dom_id movie_show %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_show.movie_id %>
  </p>

  <p>
    <strong>Show date:</strong>
    <%= movie_show.show_date %>
  </p>

  <p>
    <strong>Show slot:</strong>
    <%= movie_show.show_slot %>
  </p>

</div>
